.TopContent
{
    color: whitesmoke;
    font-size: 50px;
    width: 702px;
    height: 137px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('Images/FallSunset.PNG');
}

.PrimaryNavigation
{
    font-family: Futura;
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}

.PrimaryNavigation li 
{
    float: left;
    padding: 0px;
    list-style: none;
}

.PrimaryNavigation a 
{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
    background: #333333; /*Faded Black*/
}

.PrimaryNavigation a:hover
{
    background: #cc6633; /*Pumpkin Pie*/
    color: #333333; /*Faded Black*/
}

