/*Fall Banner.css*/
.TopContent 
{
    color: #ffffff; /*White*/
    font-size: 30px;
    width: 615px;
    height: 100px;
    margin-left: 40px;
    margin-right: auto;
    background-image: url('Images/FallLogo.png');
}

.PrimaryNavigation {
    font-family: sans-serif;
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.PrimaryNavigation li 
{
    float: left;
    list-style: none;
}

.PrimaryNavigation a 
{
    display: block;
    color: #ffffff; /*White*/
    text-decoration: none;
    font-weight: bold;    
    background: #333333; /*Faded Black*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.PrimaryNavigation a:hover
{
    background: #cc6633; /*Pumpkin Pie*/
    color: #333333; /*Faded Black*/
}

.main {
    float: left;
    width: 786px;
    height: 9500px;
    background: #e5e4d7;
    border-right: solid 2px #000;
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
    solid;
    font-family: Arial;
    font-size: 16px;
    overflow: auto;
    border-bottom-right-radius:1em;
}

.pic{
    margin: 100px;
}