/*Fall Banner.css*/
.TopContent 
{
    color: #ffffff; /*White*/
    font-size: 30px;
    width: 615px;
    height: 100px;
    margin-left: 40px;
    margin-right: auto;
    background-image: url('Images/FallLogo.png');
}

.PrimaryNavigation {
    font-family: sans-serif;
    font-size: 17px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.PrimaryNavigation li 
{
    float: left;
    list-style: none;
}

.PrimaryNavigation a 
{
    display: block;
    color: #ffffff; /*White*/
    text-decoration: none;
    font-weight: bold;    
    background: #333333; /*Faded Black*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 80px;
    padding-right: 80px;
}

.PrimaryNavigation a:hover
{
    background: #cc6633; /*Pumpkin Pie*/
    color: #333333; /*Faded Black*/
}
